.slider_header {
  display: flex;
  flex-wrap: nowrap;
}
.content {
  width: 100%;
}
.sidebar {
  min-height: 800px;
}

.post-card {
  margin: 15px 20px;
  padding: 10px;
}
.hashtag {
  margin: 0px 2px;
}

.create-post {
  margin-left: 10%;
  width: 80%;
}

.Post_body {
  display: flex;
  justify-content: center;
}
.text-small {
  min-width: 500px;
}
