.slider_header {
  display: flex;
}
.content {
  width: 100%;
}
.sidebar {
  min-height: 800px;
}

.post-card {
 
  margin: 15px 20px;
  padding: 10px;
}
.hashtag{
  margin:0px 2px;
}

form{
  margin:10px 10px;
}

.Post_body{
  display: flex;
  justify-content: center;
}